<p>Выберете ПУ, дату и нажмите кнопку <img class="img" src="../../assets/button/61444.png" alt="update"></p>
<br>
<div class="nav">
    <select name="em" id="em" [(ngModel)]="valueSelect">
        <option *ngFor="let em of emList" [value]="em.serialNumber">{{em.name}}</option>
    </select>
    <button class="btn" (click)="btn(-1)"><img class="img" src="../../assets/button/left.jpg" alt="left"></button>
    <input #inputDate type="date" step="1" [(ngModel)]="valueDate" (ngModelChange)="onChangeDate(valueDate)">
    <button class="btn" (click)="btn(1)"><img class="img" src="../../assets/button/right.jpg" alt="right"></button>
    <button class="btn" (click)="btnUpdate()"><img class="img" src="../../assets/button/61444.png" alt="update"></button>
</div>
<br>
<!-- <div>{{data|json}}</div> -->
<div class="table">
    <div class="header row">
        <div class="cellHeader"></div>
        <div class="cellHeader">Активная, прием, кВт</div>
        <div class="cellHeader">Активная, отдача, кВт</div>
        <div class="cellHeader">Реактивная, прием, кВАр</div>
        <div class="cellHeader">Реактивная, отдача, кВАр</div>
    </div>
    <div class="tableRow">
        <div class="row" *ngFor="let row of data">
            <div class="cellFist"><p class="textCell">{{row.dataTime}}</p></div>
            <div class="cellFist"><p class="textCell">{{row.activePlus}}</p></div>
            <div class="cellFist"><p class="textCell">{{row.activeMinus}}</p></div>
            <div class="cellFist"><p class="textCell">{{row.rectivePlus}}</p></div>
            <div class="cellFist"><p class="textCell">{{row.rectiveMinus}}</p></div>
        </div>
    </div>
    
</div>


